<!-- about.ejs , PRIYA SHRUTHI KORRA -->

<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <header><%- include('partials/_nav') %></header>

    <main>
      <img src="/images/profile.jpeg" alt="Your Photo" />
      <h2>Priya Shruthi Korra</h2>
      <p>
        I proudly present myself as a skilled app developer with a strong
        foundation in key areas of expertise. With a deep understanding of data
        structures and algorithms, I strive to create efficient and optimized
        applications that deliver exceptional performance. My proficiency in
        database management and SQL allows me to design robust and scalable
        systems that handle complex data operations seamlessly. I am well-versed
        in multiple object-oriented programming (OOP) languages, enabling me to
        choose the most suitable language for each project and implement modular
        and maintainable code. Leveraging integrated development environments
        (IDEs), I streamline the development process and enhance productivity.
        Additionally, my experience in cloud computing enables me to build and
        deploy applications that leverage the power of cloud-based services.
        With a strong grasp of web development technologies, I create engaging
        and responsive user interfaces while ensuring seamless integration with
        backend systems. I am experienced in working with containers, utilizing
        their benefits for efficient deployment and scalability. Proficient in
        various text editors, I am equipped to adapt to different development
        environments. Lastly, my expertise in Git version control enables me to
        collaborate effectively and manage code repositories with confidence.
      </p>
      <a href="/download/resume">Download Resume</a>
    </main>

    <footer>
      <p>&copy; 2023 PRIYA SHRUTHI KORRA. All rights reserved.</p>
    </footer>
  </body>
</html>
