<!-- home.ejs , PRIYA SHRUTHI KORRA -->

<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <header><%- include('partials/_nav') %></header>

    <main>
      <img src="/images/profile.jpeg" alt="My Image" />
      <h1>Hello! I am Priya Shruthi Korra</h1>
      <p>
        Welcome to my portfolio! Here, you'll find a collection of my projects
        and designs that represent the culmination of my skills, creativity, and
        dedication. From this portfolio website to various other projects, each
        piece has been carefully crafted with passion and attention to detail.
        As you explore, you'll discover my ability to think critically,
        problem-solve, and create innovative solutions. This portfolio is a
        testament to my relentless desire to learn, grow, and push boundaries in
        the field. Thank you for taking the time to delve into my work, and I
        hope it inspires and sparks a connection with you. If you have any
        questions or would like to discuss potential collaborations, please
        don't hesitate to reach out. Enjoy your exploration of my portfolio!
      </p>
    </main>

    <footer>
      <p>&copy; 2023 PRIYA SHRUTHI KORRA. All rights reserved.</p>
    </footer>
  </body>
</html>
