<!-- services.ejs , PRIYA SHRUTHI KORRA -->

<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <link rel="stylesheet" href="/css/services.css" />
  </head>
  <body>
    <header><%- include('partials/_nav') %></header>

    <main>
      <h1>Services</h1>

      <div class="service">
        <img src="/images/kotlin.png" alt="Service 1" />
        <h3>Kotlin</h3>
        <p>
          As an app developer, I specialize in crafting innovative and robust
          applications using Kotlin. With its concise syntax and powerful
          features, Kotlin allows me to build efficient and high-performing
          Android apps. Leveraging my expertise in Kotlin, I ensure seamless
          user experiences, elegant code architecture, and optimal utilization
          of device capabilities. Whether it's developing new applications from
          scratch or enhancing existing ones, my Kotlin services provide you
          with cutting-edge solutions that deliver exceptional value to your
          users.
        </p>
      </div>

      <div class="service">
        <img src="/images/java.png" alt="Service 2" />
        <h3>Java</h3>
        <p>
          As an experienced app developer, I offer comprehensive Java services
          that enable the creation of versatile and scalable applications.
          Java's versatility and cross-platform compatibility make it an ideal
          choice for building robust enterprise solutions, web applications, and
          Android apps. With my proficiency in Java, I can develop applications
          that adhere to industry standards, leverage powerful libraries and
          frameworks, and deliver a seamless user experience. From designing
          intuitive interfaces to implementing complex functionalities, my Java
          services empower businesses to harness the full potential of this
          robust programming language.
        </p>
      </div>

      <div class="service">
        <img src="/images/swift.jpeg" alt="Service 3" />
        <h3>Swift</h3>
        <p>
          As a skilled app developer, I specialize in utilizing Swift to create
          engaging and immersive iOS applications. Swift's modern syntax, strong
          typing, and extensive set of libraries allow me to develop
          feature-rich apps that run seamlessly on iPhones, iPads, and other
          Apple devices. With my expertise in Swift, I bring your app ideas to
          life, leveraging the latest iOS features and adhering to Apple's
          design guidelines. From designing elegant user interfaces to
          integrating APIs and implementing advanced functionalities, my Swift
          services provide you with compelling iOS apps that captivate your
          users.
        </p>
      </div>
    </main>
    <footer>
      <p>&copy; 2023 PRIYA SHRUTHI KORRA. All rights reserved.</p>
    </footer>
  </body>
</html>
