/* home.css , PRIYA SHRUTHI KORRA*/

/* CSS styles for home.ejs */

/* Header styles */
header {
  background-color: #588157;
  padding: 5px;
}

header img {
  margin-right: auto;
  height: 40px;
  width: 40px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/* Main content styles */
main {
  margin: 20px;
  font-size: 20px;
  text-align: center;
  flex: 1 0 auto;
}

h1 {
  color: #333;
  font-size: 28px;
  margin-bottom: 10px;
}

main p {
  color: #777;
  font-size: 20px;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}

/* Footer styles */
footer {
  background-color: #588157;
  padding: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  color: white;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ccd5ae;
}
